@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1B1B2F; /* Match the Tailwind config */
  color: #EAEAEA;
  font-family: "Roboto Mono", monospace;
}

html {
  scroll-behavior: smooth;
}

/* Typography */
.text-neon {
  color: var(--tw-color-neon);
}

/* Typography */
h1 {
  @apply text-4xl sm:text-5xl md:text-6xl lg:text-7xl font-extrabold;
}

p {
  @apply text-base sm:text-lg md:text-xl text-gray-300;
}

.hero-glow {
  @apply absolute top-1/2 left-1/2 w-[700px] h-[700px] bg-[radial-gradient(circle,rgba(110,68,255,0.3),transparent)] transform -translate-x-1/2 -translate-y-1/2 blur-[100px] z-0 opacity-70;
}

p {
  @apply text-base sm:text-lg md:text-xl;
}

/* Hero Section */
.hero-section {
  @apply relative flex flex-col justify-center items-center min-h-screen;
}


@media (min-width: 768px) {
  .hero-glow {
    @apply w-[900px] h-[900px];
  }
}